<section class="section">

    <ul class="section__list container">
        <h2 class="visually-hidden">Galery</h2>
        <li class="section__item section__item--1"><img srcset="/src/images/mobile/galery-mobile-1-44.jpg 44w, 
                                /src/images/mobile/galery-mobile-1-44@2x.jpg 88w, 
                                /src/images/tablet/galery-tablet-1-105.jpg 105w, 
                                /src/images/tablet/galery-tablet-1-105@2x.jpg 210w, 
                                /src/images/laptop/galery-laptop-1-140.jpg 140w, 
                                /src/images/laptop/galery-laptop-1-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-1-140.jpg" alt="">
        </li>
        <li class="section__item section__item--2"><img srcset="/src/images/mobile/galery-mobile-2-44.jpg 44w, 
                                /src/images/mobile/galery-mobile-2-44@2x.jpg 88w, 
                                /src/images/tablet/galery-tablet-2-105.jpg 105w, 
                                /src/images/tablet/galery-tablet-2-105@2x.jpg 210w, 
                                /src/images/laptop/galery-laptop-2-140.jpg 140w, 
                                /src/images/laptop/galery-laptop-2-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-2-140.jpg" alt="">
        </li>
        <li class="section__item section__item--3"><img srcset="/src/images/mobile/galery-mobile-3-90.jpg 90w, 
                    /src/images/mobile/galery-mobile-3-90@2x.jpg 180w, 
                    /src/images/tablet/galery-tablet-3-215.jpg 105w, 
                    /src/images/tablet/galery-tablet-3-215@2x.jpg 430w, 
                    /src/images/laptop/galery-laptop-3-284.jpg 284w, 
                    /src/images/laptop/galery-laptop-3-284@2x.jpg 568w"
                sizes="(min-width: 1200px) 284px, (min-width: 768px) 215px, (max-width: 767px) 90px"
                src="/src/images/laptop/galery-laptop-3-284.jpg" alt="">
        </li>
        <li class="section__item section__item--4"><img srcset="/src/images/mobile/galery-mobile-4-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-4-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-4-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-4-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-4-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-4-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-4-140.jpg" alt="">
        <li class="section__item section__item--5"><img srcset="/src/images/mobile/galery-mobile-5-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-5-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-5-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-5-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-5-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-5-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-5-140.jpg" alt="">
        <li class="section__item section__item--6"><img srcset="/src/images/mobile/galery-mobile-6-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-6-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-6-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-6-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-6-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-6-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-6-140.jpg" alt="">
        </li>
        <li class="section__item section__item--7"><img srcset="/src/images/mobile/galery-mobile-7-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-7-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-7-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-7-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-7-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-7-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-7-140.jpg" alt="">
        </li>
        <li class="section__item section__item--8"><img srcset="/src/images/mobile/galery-mobile-8-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-8-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-8-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-8-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-8-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-8-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-8-140.jpg" alt="">
        </li>
        <li class="section__item section__item--9"><img srcset="/src/images/mobile/galery-mobile-9-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-9-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-9-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-9-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-9-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-9-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-9-140.jpg" alt="">
        </li>
        <li class="section__item section__item--10"><img srcset="/src/images/mobile/galery-mobile-10-44.jpg 44w, 
                    /src/images/mobile/galery-mobile-10-44@2x.jpg 88w, 
                    /src/images/tablet/galery-tablet-10-105.jpg 105w, 
                    /src/images/tablet/galery-tablet-10-105@2x.jpg 210w, 
                    /src/images/laptop/galery-laptop-10-140.jpg 140w, 
                    /src/images/laptop/galery-laptop-10-140@2x.jpg 280w"
                sizes="(min-width: 1200px) 140px, (min-width: 768px) 105px, (max-width: 767px) 44px"
                src="/src/images/laptop/galery-laptop-10-140.jpg" alt="">
        </li>
    </ul>
</section>